#teleport {
  width: 30%;
  height: 250px;
  top: 50%;
  margin-top: -125px;
  position: fixed;
  left: 50%;
  margin-left: -15%;
  padding: 1em;
  z-index: 10;
}

#teleport FIELDSET {
  border-width: 5px;
}

/*#teleport #edit-title-wrapper INPUT {
  width: 95%;
  font-size: 1.25em;
}*/

#teleport .teleport-path {
  color: gray;
}

/*#teleport input.form-autocomplete {
  background-position: 100% .5em;
  padding: .25em;
}*/